.map-section{
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
agm-map {
  height: 300px;
  width: 100%;
}
.images-section {
  margin: 20px -10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.col-3 {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  height: 350px;
}
.col-3 img {
  width: 100%;
  height: 100%;
}
.ngx-pagination {
  text-align: center;
  background: #eee;
  padding: 10px;
}


@media only screen and (max-width: 786px) {
  .map-section {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .col-3 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
  }
}

@media only screen and (min-width: 787px) and (max-width: 1200px) {
  .map-section {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
