<!-- MAIN SECTION -->
<div class="map-section">
  <h2> Click any place to get images! </h2>
  <!-- Map start -->
  <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]='mapType' (mapClick)="onChoseLocation($event)">
    <agm-marker *ngIf="locationChosen" [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <!-- map ends -->

  <!-- Images section -->
  <div class="images-section">
    <div class="col-3" *ngFor="let img of images | paginate: { itemsPerPage: 12, currentPage: p }">
      <img [src]="img.url" alt="flickr-images" />
    </div>
  </div>
  <!-- Images section -->

  <!-- pagination -->
  <pagination-controls *ngIf="images && images.length" (pageChange)="p = $event"></pagination-controls>
  <!-- pagination -->

</div>
<!-- main section ends -->